{% for product in showProducts %}

    <p>{{ product.name }}</p>
    {#    <p>{{ category.image }}</p>#}
    <p>{{ product.prijs }}</p>
{#    <a href="{{ path('blog_post', {slug: post.slug}) }}">{{ post.title }}</a>#}

{% endfor %}